@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Esame di Stato</h1>
    <h3 class="display-4">Corso IoT</h3>
</div>
<p></p>
<p></p>
<p></p>
<br />
<div class="row">
    @foreach (var p in Model.Modells)      // ----VISUALIZZO  gli oggetti nella tabella -->
    {
        <div class="col-4">
            <div class="card mb-2 ">
                <div class="card-body">
                    <!--visualizzaione tabella database-->

                    <h5 class="card-title">Piano: @p.IdPiano</h5>

                    Aula:          @p.Aula<br />

                    Nome:        @p.Nome<br />
                    Materia: @p.Materia<br />
                    Scadenza: @p.Scadenza<br />

                </div>
            </div>
        </div>
    }
    
    
</div>